p, div, span, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-gray-6);
}
a, button {
  transition: var(--transition);
}
body {
  margin: 0;
  padding: 0;  
  background-color: var(--main-bg-color);
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0rem;
}